<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/index.css">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

  <title>invO-RgO</title>
</head>

<body>
  <header>
    <div class="container">


      <div class="logo-container">
        <div class="plogo">

        </div>
        <h3 class="logo">Dream<span>Job</span></h3>
      </div>


      <div class="nav-btn">
        <div class="nav-links">

          <ul>
            <li class="nav-link" style="--i: .6s"><a href="/home">HOME&nbsp;
              </a>
            </li>
            <li class="nav-link" style="--i: .85s">
              <a href="#">SERVICES&nbsp;<i class="fas fa-caret-down"></i></a>
              <div class="dropdown">
                <ul>
                  <li class="dropdown-link">
                    <a href="/submit"><b>+ STARTUP</b></a>
                  </li>
                  <li class="dropdown-link">
                    <a href="/finance">Financial Asistance</a>
                  </li>
                  
                  <li class="dropdown-link">
                    <a href="/hrcon">HR Consultancy</a>

                  </li>

                </ul>
              </div>
            </li>
            <li class="nav-link" style="--i: 1.1s">
              <a style="font-family: Rubik,sans-serif;" href="/contributors">ABOUT US&nbsp;</a>

            <li class="nav-link" style="--i: 1.35s">
              <a href="https://forms.gle/UBqyHNGpPoEAGZiC6">CONTACT US&nbsp;</a>
            </li>
            <li class="nav-link" style="--i: 1.35s">
              <a href="/logout">LOG OUT &nbsp;</a>
            </li>
          </ul>
        </div>


      </div>
    </div>
    <hr>
    <div class="hamburger-menu-container">
      <div class="hamburger-menu">
        <div></div>
      </div>
    </div>
    </div>
    <div class="search">
      <form action="#">
        <input type="text" placeholder="Search Here" name="search">
        <button>
          <i class="fa fa-search" style="font-size: 18px;">
          </i>
        </button>
      </form>
    </div>
    </div>

  </header>
<div class="team1">
   
   
        <h2 style="margin-top:80px;margin-left:490px">The strength of the <span class="t1">team</span><br><span class="t2">is each individual member</span><br>the strength of <span class="t3">each member</span><br> is the <span class="t4">team</span></h2>
</div>

<div class="team">
    <h1 class="meet"></h1>
    <h2  class="mt">Our <span class="mtt">Team</span></h2>
    
    <div class="member">
        <img src="/assets/Nova.jpg">
        <h3>Team Lead</h3><br>
        <p style=" font-family: Rubik,sans-serif;"><b>Nilesh Telang</b></p><br>
        <p>Hello, I am CEO Of this Company .  </p>
        
    </div>

     <div class="member">
        <img src="/assets/Arps.jpg">
        <h3>Member</h3><br>
        <p style=" font-family: Rubik,sans-serif;"><b>Arpita Sawant</b></p><br>
        <p>Hello, I am one of the founders Of this site .   
        </p><p>I have worked on : </p>
        <p>- Register Page + Finance Page + Business Page</p>
       
    </div>
    
</div>

<div class="team3">

    <div class="member">
        <img src="/assets/Isha.jpg">
        
        <h3>Member</h3><br>
        <p style=" font-family: Rubik,sans-serif;"><b>Apurva Pawar</b></p><br>
        <p>Hello, I am one of the founders Of this site .   
        </p><p>I have worked on : </p>
        <p>- Home Page + Contributors Page </p>
       
      
    </div>

    
    <div class="member">
        <img src="/assets/Adesh.jpg">
        <h3>Member</h3><br>
        <p style=" font-family: Rubik,sans-serif;"><b>Adesh Punde</b></p><br>
        <p>Hello, I am one of the founders Of this site .   
          </p><p>I have worked on : </p>
        <p>- Opening Page + Startup Page + Hrcons Page</p>
       
       
    </div>
</div>

<footer class="fsticky">
    <div class="rows">


      <div class="footer-content">
        <h3> Follow Us </h3><br><br>
        <div class="socials1">
          <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></span></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
            <li><a href="https://github.com/novafirekt"><i class="fa fa-github"> </i> </a></li>
            <li><a href="https://www.linkedin.com/in/pratiksha-pathare-34025b22a"><i class="fa fa-linkedin-square"></i>
              </a></li>
            <li><a href="/contributors"><i class="fa fa-users"></i> </a></li>
          </ul>
        </div>
      </div>

  </footer>

</body>

</html>




