<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/home.css">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

  <title>invO-RgO</title>
</head>

<body>
  <header>
    <div class="container">


      <div class="logo-container">
        <div class="plogo">

        </div>
        <h3 class="logo">Dream<span>Job</span></h3>
      </div>


      <div class="nav-btn">
        <div class="nav-links">

          <ul>
            <li class="nav-link" style="--i: .6s"><a href="/home">HOME&nbsp;
              </a>
            </li>
            <li class="nav-link" style="--i: .85s">
              <a href="#">SERVICES&nbsp;<i class="fas fa-caret-down"></i></a>
              <div class="dropdown">
                <ul>
                  <li class="dropdown-link">
                    <a href="/submit"><b>+ STARTUP</a></b>
                  </li>
                  <li class="dropdown-link">
                    <a href="/finance">Financial Asistance</a>
                  </li>

                  <li class="dropdown-link">
                    <a href="/hrcon">HR Consultancy</a>

                  </li>

                </ul>
              </div>
            </li>
            <li class="nav-link" style="--i: 1.1s">
              <a style="font-family: Rubik,sans-serif;" href="/contributors">ABOUT US&nbsp;</a>

            <li class="nav-link" style="--i: 1.35s">
              <a href="https://forms.gle/UBqyHNGpPoEAGZiC6">CONTACT US&nbsp;</a>
            </li>
            <li class="nav-link" style="--i: 1.35s">
              <a href="/logout">LOG OUT &nbsp;</a>
            </li>
          </ul>
        </div>


      </div>
    </div>
    <hr>

  </header>
  <main>
    <div class="pslider specs">
      <h1 class="pslider-title">Fantacy</h1>
      <h1 class="pslider-subtitle">Start Up Board</h1>
      <h3 class="pslider-description">for founders, dreamers & entrepreneurs</h3>
    </div>


    <div class="pimg1">
      <img src="https://d3f7kvfunifc2.cloudfront.net/public/images/newhome/home-banner-img.webp" height="350" alt="i">
    </div>

    <div class="pimg2">
      <p style="color:cadetblue">Professionals, Advisors, Investors &amp; Mentors</p>
      <p style="color:cadetblue">Get Verified Options</p>
    </div>

    <div class="pimg4">
      <p>Success </p>
      <p style="color:black">is someone</p>
      <p style="color:black">giving you a</p>
      <p style="color:black">chance</p>
    </div>

    <div class="pmulti">
      <h2 style="color: rgb(13, 14, 14);">We are <span style="color: rgb(13, 14, 14);">multidimensional</span></h2>
      <p>We are all driven by our own set of experiences and ambitions</p>
      <div class="pmultiimg">
        <img src="https://d3f7kvfunifc2.cloudfront.net/public/images/newhome/for-registration-01.webp" height="100"
          alt="i">
      </div>
    </div>

    <div class="pmulti2">
      <img src="https://d3f7kvfunifc2.cloudfront.net/public/images/newhome/page-two-right-banner-img.webp" height="500"
        alt="i">
    </div>

    <div class="pdiverse">
      <h2>Build your <span class="pblue">d</span><span class="ppurple">i</span><span
          class="pReddishOrange">v</span><span class="psea">e</span><span class="pYellowishOrange">r</span><span
          class="pLapisBlue">s</span><span class="paquaGreen">e</span> People Stack</h2>

    </div>

    <div class="pdivimg">
      <p>Surround yourself with amazing people to achieve great things </p>
    </div>
    <div class="pdivimg2">
      <img src="https://d3f7kvfunifc2.cloudfront.net/public/images/newhome/people-stock-img.webp" height=250 alt="i">
    </div>

    <div class="ps1">
      <ul class="pslist">
        <li><i class="circlebluecolor"></i> Connect with professionals</li>
        <li><i class="circleorangeColor"></i> Network across domains</li>
        <li><i class="circlegreenColor"></i> Level up</li>
      </ul>
    </div>

    <div class="pblank"></div>

    <div class="dna">
      <img src="/assets/homeee.png" alt="i">

    </div>

    <ul class="huge">
      <li> Presenting you</li>
      <li style="margin-top:10px; color: #ffa10b;">a fun way to</li>
      <li style="margin-top:10px">validate & pitch your <span style="color:#1da1f2;">startup ideas</span></li>
    </ul>

    <div class="huge2">
      <p>Make yours or support others </p>
    </div>

    <div class="startupContainer">



      <div class="row">
        <a href="/startup" class="a1">
          <div class="column ">
            <div class="row">
              <img src="/assets/startup-img.png" alt="Snow" style="width:100%">
              <hr class="hrgo">
              <span class="desc">Providing Computer Support and Services</span>
            </div>
          </div>
        </a>

        <a href="/startup" class="a1">
          <div class="column ">
            <div class="row">
              <img
                src="https://foyr.com/learn/wp-content/uploads/2020/06/how-to-start-an-interior-design-business-scaled.jpg"
                alt="Forest" style="width:100%">
              <hr class="hrgo">
              <span class="desc">Online Platform for
                Interior Design !</span>
            </div>
          </div>
        </a>

        <a href="/startup" class="a1">
          <div class="column ">
            <div class="row">
              <img src="https://klinegroup.com/wp-content/uploads/Fruit-vegetable-blog-banner.jpg" alt="Mountains"
                style="width:100%">
              <hr class="hrgo">
              <span class="desc">Delivering organic veggies from
                farmers!</span>
            </div>
          </div>
        </a>

      </div>

      <div class="row">
        <a href="/startup" class="a1">
          <div class="column ">
            <div class="row">
              <img
                src="https://imageio.forbes.com/specials-images/imageserve/5f1127a0b7b73b000781170e/5-Ways-Self-Driving-Cars-Could-Make-Our-World--And-Our-Lives--Better/960x0.jpg?format=jpg&width=960"
                alt="Snow" style="width:100%">
              <hr class="hrgo">
              <span class="desc">Building Best Self Drive Transportation ! </span>
            </div>
          </div>
        </a>

        <a href="/startup" class="a1">
          <div class="column ">
            <div class="row">
              <img
                src="https://mobisoftinfotech.com/resources/wp-content/uploads/2019/10/on-demand-fuel-delivery-app.png"
                alt="Forest" style="width:100%">
              <hr class="hrgo">
              <span class="desc">Delivering Fuels & EV Batteries !</span>
            </div>
          </div>
        </a>

        <a href="/startup" class="a1">
          <div class="column ">
            <div class="row">
              <img src="https://img.freepik.com/free-photo/marketing-online-strategy-with-drawings_1134-76.jpg?w=2000"
                alt="Mountains" style="width:100%">
              <hr class="hrgo">
              <span class="desc">Building a platform for online Marketting !</span>
            </div>
          </div>
        </a>

      </div>

      <div class="row">
        <a href="#" class="a1">
          <div class="column ">
            <div class="row">
              <img
                src="https://www.hopkinsmedicine.org/-/media/images/health/4_-caregiving/homecare/caregiver-helping-elderly-patient-hero.jpg?h=500&iar=0&mh=500&mw=1300&w=1297&hash=3BB19D1722D9468C398EC22E98254504"
                alt="Snow" style="width:100%">
              <hr class="hrgo">
              <span class="desc">Delivering Healthcare Treatment At
                Home </span>
            </div>
          </div>
        </a>

        <a href="#" class="a1">
          <div class="column ">
            <div class="row">
              <img src="https://i0.wp.com/www.naaree.com/wp-content/uploads/2021/05/dabba-service.jpg?ssl=1"
                alt="Forest" style="width:100%">
              <hr class="hrgo">
              <span class="desc">Homemade Food At Your
                Doorstep</span>
            </div>
          </div>
        </a>

        <a href="#" class="a1">
          <div class="column ">
            <div class="row">
              <img src="https://i.insider.com/5df119ddfd9db23f737b5a03?width=1136&format=jpeg" alt="Mountains"
                style="width:100%">
              <hr class="hrgo">
              <span class="desc">Providing a Next Gen Map System </span>
            </div>
          </div>
        </a>

      </div>


      <div class="row">
        <a href="#" class="a1">
          <div class="column ">
            <div class="row">
              <img src="https://www.rainyfilters.com/static/images/homepage/WebsiteBanner.jpg" alt="Mountains"
                style="width:100%">
              <hr class="hrgo">
              <span class="desc">Water Reclamation Systems </span>
            </div>
          </div>
        </a>

        <a href="#" class="a1">
          <div class="column ">
            <div class="row">
              <img src="https://whatson.ae/wp-content/uploads/2023/01/Indian-Restaurants-.jpg" alt="Forest"
                style="width:100%">
              <hr class="hrgo">
              <span class="desc">Monthly Membership at Restaurant .</span>
            </div>
          </div>
        </a>

        <a href="#" class="a1">
          <div class="column ">
            <div class="row">
              <img src="https://www.thenewleam.com/wp-content/uploads/2019/10/India-child-labour-school-holiday-1.jpg"
                alt="Snow" style="width:100%">
              <hr class="hrgo">
              <span class="desc">Education StartUp For Underprivileged</span>
            </div>
          </div>
        </a>

      </div>

      <div class="row">
        <% if(startups !=null) { %>
          <% Array.from(startups).forEach(function(startup){ %>
            <a href="#" class="a1">
              <div class="column ">
                <div class="row">

                  <img src="<%=startup.img%>" alt="Startup Image" style="width:100%">
                  <hr class="hrgo">
                  <span class="desc">
                    <%=startup.title%>
                  </span>
                </div>
              </div>
            </a>
            <% }) %>
              <% } %>
      </div>



      <section>
        <div class="psec psec-h2">
          <h2>It's all about<span class="sp1"> people,</span> <br>&emsp;<span
              class="sp3">collaboration,</span><br>&emsp;<span class="sp4">opportunity,</span><br>&emsp;<span
              class="sp5">advice</span> and<br><span class="sp6">solving problems.</span></h2>

          <div class="pend">
            <p>&emsp;&emsp;&emsp;If you need expertise on pethood. </p>
            <p>For any @stray needs, don't hesitate to contact us!</p>
          </div>
        </div>

      </section>

      <footer class="fsticky">
        <div class="footer-content">
          <h3>Follow Us</h3>
          <div class="socials1">
            <ul class="socials">
              <li><a href="https://www.linkedin.com/in/harshal-madgulkar/"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/UmareMandar"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://github.com/novafirekt"><i class="fa fa-github"></i></a></li>
              <li><a href="https://www.linkedin.com/in/pratiksha-pathare-34025b22a"><i
                    class="fa fa-linkedin-square"></i></a></li>
              <li><a href="/contributors"><i class="fa fa-users"></i></a></li>
            </ul>
          </div>
        </div>
      </footer>


  </main>






</body>

</html>