<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/startup.css">
    <!-- Mandar Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Fraunces:opsz,wght@9..144,700&family=Fredoka+One&family=Merriweather&family=Montserrat:wght@100;400;500;700&family=Rubik+Spray+Paint&family=Sacramento&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">


            <div class="logo-container">
                <div class="plogo">

                </div><a href="/home">
                <h3 class="logo" >Dream<span>Job</span></h3></a>
            </div>
        </div>



    </header>

    <% if(startups !=null) { %>
        <% Array.from(startups).forEach(function(startup){ %>
            <div class="row startupcontainer">
                <div class="row col-lg-12">
                    <div class="bioCard col-lg-6">
                        <div class="firstcard">
                            <div class="image">

                                <div class="mcard">
                                    <div class="profileimage" >
                                        <img id="pimg" src="https://st2.depositphotos.com/3591429/5245/i/600/depositphotos_52451299-stock-photo-people-and-startup-business-concept.jpg"
                                            alt="">
                                    </div>

                                </div>
                                <div class="imageectioninfo">
                                    <h5 class="startupname " style="font-weight: bold;">
                                        <%=startup.title%>
                                    </h5>

                                    </h2>
                                    <div class="socialcontainer">
                                        <p class="followlink">
                                            Follow Startup
                                        </p>

                                        <div class="socialcard">
                                            <span>Social</span>
                                            <a class="social-link" href="#">
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    viewBox="0 0 461.001 461.001" xml:space="preserve" fill="#000000">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                        stroke-linejoin="round"></g>
                                                    <g id="SVGRepo_iconCarrier">
                                                        <g>
                                                            <path style="fill:#F61C0D;"
                                                                d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728 c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137 C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607 c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </a>
                                            <a class="social-link"
                                                href="https://www.linkedin.com/in/nilesh-telang-%C4%B8%D1%82/">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="2500" height="2500"
                                                    viewBox="7.025 7.025 497.951 497.95">
                                                    <linearGradient id="a" x1="-974.482" x2="-622.378" y1="1306.773"
                                                        y2="1658.877" gradientTransform="translate(1054.43 -1226.825)"
                                                        gradientUnits="userSpaceOnUse">
                                                        <stop offset="0" stop-color="#2489be" />
                                                        <stop offset="1" stop-color="#0575b3" />
                                                    </linearGradient>
                                                    <path fill="url(#a)"
                                                        d="M256 7.025C118.494 7.025 7.025 118.494 7.025 256S118.494 504.975 256 504.975 504.976 393.506 504.976 256C504.975 118.494 393.504 7.025 256 7.025zm-66.427 369.343h-54.665V199.761h54.665v176.607zM161.98 176.633c-17.853 0-32.326-14.591-32.326-32.587 0-17.998 14.475-32.588 32.326-32.588s32.324 14.59 32.324 32.588c.001 17.997-14.472 32.587-32.324 32.587zm232.45 199.735h-54.4v-92.704c0-25.426-9.658-39.619-29.763-39.619-21.881 0-33.312 14.782-33.312 39.619v92.704h-52.43V199.761h52.43v23.786s15.771-29.173 53.219-29.173c37.449 0 64.257 22.866 64.257 70.169l-.001 111.825z" />
                                                </svg>
                                            </a>
                                            <a class="social-link" href="https://discord.gg/tk6xY8sWmy">
                                                <svg viewBox="0 -28.5 256 256" version="1.1"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    preserveAspectRatio="xMidYMid" fill="#000000">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                        stroke-linejoin="round"></g>
                                                    <g id="SVGRepo_iconCarrier">
                                                        <g>
                                                            <path
                                                                d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z"
                                                                fill="#5865F2" fill-rule="nonzero"> </path>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </a>
                                            <a class="social-link"
                                                href="https://novafirekt.github.io/nova-s-personal-website/">
                                                <svg fill="#000000" viewBox="0 0 1024 1024"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                        stroke-linejoin="round"></g>
                                                    <g id="SVGRepo_iconCarrier">
                                                        <path
                                                            d="M488.1 414.7V303.4L300.9 428l83.6 55.8zm254.1 137.7v-79.8l-59.8 39.9zM512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm278 533c0 1.1-.1 2.1-.2 3.1 0 .4-.1.7-.2 1a14.16 14.16 0 0 1-.8 3.2c-.2.6-.4 1.2-.6 1.7-.2.4-.4.8-.5 1.2-.3.5-.5 1.1-.8 1.6-.2.4-.4.7-.7 1.1-.3.5-.7 1-1 1.5-.3.4-.5.7-.8 1-.4.4-.8.9-1.2 1.3-.3.3-.6.6-1 .9-.4.4-.9.8-1.4 1.1-.4.3-.7.6-1.1.8-.1.1-.3.2-.4.3L525.2 786c-4 2.7-8.6 4-13.2 4-4.7 0-9.3-1.4-13.3-4L244.6 616.9c-.1-.1-.3-.2-.4-.3l-1.1-.8c-.5-.4-.9-.7-1.3-1.1-.3-.3-.6-.6-1-.9-.4-.4-.8-.8-1.2-1.3a7 7 0 0 1-.8-1c-.4-.5-.7-1-1-1.5-.2-.4-.5-.7-.7-1.1-.3-.5-.6-1.1-.8-1.6-.2-.4-.4-.8-.5-1.2-.2-.6-.4-1.2-.6-1.7-.1-.4-.3-.8-.4-1.2-.2-.7-.3-1.3-.4-2-.1-.3-.1-.7-.2-1-.1-1-.2-2.1-.2-3.1V427.9c0-1 .1-2.1.2-3.1.1-.3.1-.7.2-1a14.16 14.16 0 0 1 .8-3.2c.2-.6.4-1.2.6-1.7.2-.4.4-.8.5-1.2.2-.5.5-1.1.8-1.6.2-.4.4-.7.7-1.1.6-.9 1.2-1.7 1.8-2.5.4-.4.8-.9 1.2-1.3.3-.3.6-.6 1-.9.4-.4.9-.8 1.3-1.1.4-.3.7-.6 1.1-.8.1-.1.3-.2.4-.3L498.7 239c8-5.3 18.5-5.3 26.5 0l254.1 169.1c.1.1.3.2.4.3l1.1.8 1.4 1.1c.3.3.6.6 1 .9.4.4.8.8 1.2 1.3.7.8 1.3 1.6 1.8 2.5.2.4.5.7.7 1.1.3.5.6 1 .8 1.6.2.4.4.8.5 1.2.2.6.4 1.2.6 1.7.1.4.3.8.4 1.2.2.7.3 1.3.4 2 .1.3.1.7.2 1 .1 1 .2 2.1.2 3.1V597zm-254.1 13.3v111.3L723.1 597l-83.6-55.8zM281.8 472.6v79.8l59.8-39.9zM512 456.1l-84.5 56.4 84.5 56.4 84.5-56.4zM723.1 428L535.9 303.4v111.3l103.6 69.1zM384.5 541.2L300.9 597l187.2 124.6V610.3l-103.6-69.1z">
                                                        </path>
                                                    </g>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <a href="#">
                                    <span class="title">
                                        Startup Bio
                                    </span>
                                </a>

                                <p class="desc">
                                    <%=startup.description%>
                                        This is one of the finest startups by novafirekt .
                                        This startup is a web application which provide 24/7 support for anything
                                        related
                                        new startups . This is to encourage the new ideas and provide them with neat
                                        support
                                        in finance , buisness planning and hr consultancy as well with Investors waiting
                                        to
                                        Invest here .
                                </p>

                                <a href="#" class="action">
                                    Find out more
                                    <span aria-hidden="true">
                                        →
                                    </span>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="vid col-lg-6">

                        <div class="videocard">
                            <div class="videocard-image">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                                        </li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" style="aspect-ratio:auto;"
                                                src="https://thumbs.dreamstime.com/b/startup-circle-process-business-concept-60485119.jpg"
                                                alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" style="aspect-ratio:auto;"
                                                src="https://media.istockphoto.com/id/1164602484/photo/idea-and-startup-concept.jpg?s=612x612&w=0&k=20&c=b7LpyTTQvG3ZMRTi7oXES7zlN-8tjw88U1iBeMUntlo="
                                                alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" style="aspect-ratio:auto;"
                                                src="https://thumbs.dreamstime.com/b/business-team-near-blackboard-startup-sketch-rear-view-colorful-light-bulb-drawn-concept-idea-77390427.jpg"
                                                alt="Third slide">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="videocategory"> Illustration BY Images </div>
                            <div class="videoheading"> SOME REFS TO DREAMJOB

                            </div>
                            <div class="twobutton">
                                <button class="downloadbutton">
                                    <span class="button-content">Download Pitch</span>

                                </button>
                                <button class="register">Invest</button>
                            </div>
                        </div>
                    </div>
                    <div class="founderinfo  col-lg-12">
                        <div class="foundarcard bioCard col-lg-6">
                            <div class="card">
                                <div class="founderimage">
                                    <div class="mcard">
                                        <div class="profileimage">
                                            <img id="pimg" src="https://scontent.fpnq2-1.fna.fbcdn.net/v/t39.30808-6/332744971_595890609079226_2360765645647893850_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=P4z_PGXlF3UAX9WD3iz&_nc_ht=scontent.fpnq2-1.fna&oh=00_AfBR7WzrohyVd0zJAL_WdIWjOX1h4G4SflVQl_vZqT1m2g&oe=640DB71D" alt="Nova">
                                        </div>
                                    </div>

                                    <div class="founderdetail flex">
                                        <div>
                                            <h4>Team Details</h4>
                                            <h5 class="foundername">Nilesh Telang</h5>
                                            <h6>Founder</h6>
                                        </div>
                                        <div class="">
                                            <button class="downloadbutton connect">
                                                <a href="mailto:nileshtelan07n5@mail.com">
                                                <span class="button-content">connect</span></a>

                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="content">

                                    <span class="title">
                                        <h3>Cofounders</h3>

                                    </span>


                                    <p class="desc">
                                    <h6> - Mandar Umare </h6>
                                    <h6> - Pratiksha Pathare </h6>
                                    <h6> - Harshal Madgulkar </h6>
                                    </p>


                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="bottomf">
                        <h1 class="col-lg-12">Specifications</h1>
                        <div class="productspecification  col-lg-12 row">


                            <div class="function productcard videocard col-lg-4">
                                <h6> function</h6>
                                <p>Finding best startups !</p>
                            </div>
                            <div class="productproposition  productcard videocard col-lg-4">
                                <h6>product proposition</h6>
                                <p>Investors proposals !</p>
                            </div>
                            <div class="Applications productcard videocard col-lg-4">
                                <h6> Applications</h6>
                                <p>Useful For Upcoming Startups And Great Ideas In Every Domain .</p>
                            </div>
                        </div>
                        <div class="otherdetails col-lg-12 row">

                            <div class="odheading flex col-lg-12">
                                <h1>Other details</h1>

                            </div>

                            <div class="stage videocard col-lg-4">
                                <h6 type="Options">Startup stage</h6>
                                <p>um amet minus?</p>
                            </div>
                            <div class="videocard col-lg-4">
                                <h6 type="Options">Focus Industries</h6>
                                <p> voluptatum amet minus?</p>
                            </div>
                            <div class=" videocard col-lg-4">
                                <h6 type="Options">Focus Sectors</h6>
                                <p> amet minus?</p>
                            </div>
                            <div class=" videocard col-lg-4">
                                <h6 type="Options">No. of Employees</h6>
                                <p> voluptatum amet minus?</p>
                            </div>
                            <div class=" videocard col-lg-4">
                                <h6 type="Options">Uniqueness</h6>
                                <p> voluptatum amet minus?</p>
                            </div>
                            <div class="videocard col-lg-4">
                                <h6 type="Options">Startup stage</h6>
                                <p> amet minus?</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <% }) %>
                <% } %>

                    <footer class="fsticky">
                        <div class="rows">


                            <div class="footer-content">
                                <h3> Follow Us </h3><br><br>
                                <div class="socials1">
                                    <ul class="socials">
                                        <li><a href="#"><i class="fa fa-facebook"></i></span></a></li>
                                        <li><a href="https://twitter.com/UmareMandar"><i class="fa fa-twitter"></i> </a></li>
                                        <li><a href="https://github.com/novafirekt"><i class="fa fa-github"> </i> </a>
                                        </li>
                                        <li><a href="https://www.linkedin.com/in/pratiksha-pathare-34025b22a"><i
                                                    class="fa fa-linkedin-square"></i>
                                            </a></li>
                                        <li><a href="/contributors"><i class="fa fa-users"></i> </a></li>
                                    </ul>
                                </div>
                            </div>

                    </footer>

                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                        crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                        crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                        crossorigin="anonymous"></script>


</body>

</html>