body {
  background: url("");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  background-attachment: fixed;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: Rubik, sans-serif;
  font-size: 16px;
}

header {
  position: sticky;
  top: 0px;
  background-color: white;

  width: 100%;
  z-index: 1000;
  font-size: large;
}

section {
  position: relative;
  height: calc(100vh - 3rem);
  width: 100%;
  background: url('bg.jpg') no-repeat top center / cover;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

.container {
  max-width: 65rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.plogo {
  margin-left: -190px;
  margin-top: -10px;
}

.nav-btn {
  flex: 3;
  display: flex;
  margin-top: 20px;
  margin-left: -190;
  text-align: center;
  margin-bottom: 0px;
  padding: 0px 0px;

}

.nav-links {
  flex: 2;

}

.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo {
  color: #1a6679;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 0px;

}

.logo span {
  font-weight: 300;
}





.nav-links>ul {
  display: flex;

}

.nav-link {
  position: relative;
}

.nav-link>a {
  line-height: 3rem;
  color: #12298f;
  padding: 0 .8rem;
  letter-spacing: 1px;
  font-size: .95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}

.nav-link>a>i {
  margin-left: .2rem;
}

.nav-link:hover>a {
  transform: scale(1.1);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.dropdown ul {
  position: relative;
}

.dropdown-link>a {
  display: flex;
  background-color: #faf4f7;
  color: #113a61;
  padding: .5rem 1rem;
  font-size: .9rem;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
}

.dropdown-link:hover>a {
  background-color: #3c6070;
  color: #fff;
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid #efefef;
}

.dropdown-link i {
  transform: rotate(-90deg);
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #0f525e;
  transform: rotate(45deg);
  cursor: pointer;
  transition: .3s;
  z-index: -1;
}


.dropdown-link {
  position: relative;
}


.nav-link:hover>.dropdown,
.dropdown-link:hover>.dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}


@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  .hamburger-menu-container {
    display: flex;
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links>ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link>a {
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover>a {
    transform: scale(1);
    background-color: #FFFFFF;
  }


  .nav-link:hover>.dropdown,
  .dropdown-link:hover>.dropdown {
    display: block;
  }

  .nav-link:hover>a>i,
  .dropdown-link:hover>a>i {
    transform: rotate(360deg);
  }

  .dropdown-link>a {
    background-color: transparent;
    color: #fff;
    padding: 1.2rem 2rem;
    line-height: 1;
  }


  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }



  .nav-link>a>i {
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: .7s;
  }

  .dropdown i {
    font-size: 1rem;
    transition: .7s;
  }


  .pnav {

    margin-left: 100px;
    margin-top: 10px;
  }





}


.search input[type=text] {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: none;
}

.search {
  float: right;
  margin-top: -50px;
}

.search button {
  background-color: #0074D9;
  color: #f2f2f2;
  float: right;
  padding: 5px 10px;
  margin-right: 15px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}














/* startup css */

.firstcard {
  margin: 30px;
  margin-left: 40px;
  width: 40vw;
  height: auto;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  border-radius: 25px;
}

.content {
  padding: 1.1rem;
}

.image {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: auto;
  background-color: rgb(239, 205, 255);
}

.founderimage {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: auto;
  background-color: rgb(165, 104, 226);
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;

}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563EB;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);


}

.founderCard {}

.founderinfo {

  margin-left: 35px;


  align-items: center;

}

/* circular profile */
.mcard .profileimage {

  width: 10rem;
  height: 10em;
  background: #e8e8e8;
  border-radius: 100%;
  display: flex;
  margin: 20px;

}

#pimg {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
}


/* video card */
.videocard {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 40vw;
  height: auto;
  background: white;
  padding: .4em;
  border-radius: 6px;
  box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.05);
}

.videocard-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 60vh;
  border-radius: 6px 6px 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
  overflow: hidden;

  padding: 50px;

}

.videocard-image:hover {
  transform: scale(0.98);
  background-size: cover;
}

.videocategory {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.videocategory:hover {
  cursor: pointer;
}

.videoheading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.videoheading:hover {
  cursor: pointer;
}

.videoauthor {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.videoname {
  font-weight: 600;
}

.videoname:hover {
  cursor: pointer;
}



.imagesectioninfo {
  width: 100%;
  height: auto;
}

.startupname {
  margin: 30px 5px 7px 5px;
  padding: 2px;
}

.followlink {
  margin: 13px 5px 5px 5px;
  padding: 2px;
}



/* social */

.socialcard svg {
  height: 20px;

}

.socialcard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 3em;
  width: 11em;
  margin-left: 7px;

}

.socialcard::before,
.socialcard::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}

.socialcard::before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: #4d60b6;
}

.socialcard::after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: #4453a6;
}

.socialcard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.socialcard:hover span {
  opacity: 0;
  z-index: -3;
}

.socialcard:hover::before {
  opacity: 0.5;
  transform: translateY(-100%);
}

.socialcard:hover::after {
  opacity: 0.5;
  transform: translateY(100%);
}

.socialcard span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  font-family: 'Fira Mono', monospace;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;

}

.socialcard .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}

.socialcard .social-link svg {
  text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
  transform: scale(1);
}

.socialcard .social-link:hover {
  background-color: rgba(249, 244, 255, 0.774);
  animation: bounce_613 0.4s linear;
}


.socialcontainer {
  position: relative;
  bottom: 10px;

}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


/* download button */

.downloadbutton {
  position: relative;
  overflow: hidden;
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #bf93ec;
  background-size: 400%;
  color: #fff;
  border: solid;
  width: 50%;
  font-weight: bold;
}

.downloadbutton:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.downloadbutton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%);
  transition: all 0.475s;
}

/* registerbutton */
.register {
  display: flex;
  padding: 2px 2px 2px 2px;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 2.5rem;
  font-weight: 500;
  margin: 10px 5px;
  border: 0;
  outline: 0;
  font-size: 14px;
  background: rgb(11, 124, 36);
  color: #fff;
  border-radius: 36px;
  text-align: center;
  font-weight: bold;
}


svg {
  margin: 20px 0 0 10px;
}

.register:hover svg {
  margin: 0 0 0 25px;
  transition: 0.3s;
}

.register:not(:hover) svg {
  transition: 0.3s;
}

.register:active {
  transform: scale(0.9, 0.9);
  transition: 200ms;
  background-color: rgb(7, 66, 7);
}

.register:not(:active) {
  transition: 200ms;
}


.twobutton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px;
  padding: 2px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.connect {
  width: 150px;
  height: 40px;
  margin-left: 20px;
}




.fsticky {
  position: sticky;
  top: 100%;
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9FC088;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 0px;
  color: #080808;
  justify-content: center;

}

.footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-weight: 400;
  margin-top: 50px;
  margin-left: 32%;
  font-size: 1.8rem;
  justify-content: center;
  color: #ffffff;
}



.socials {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 10% 50%;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #222121;
}

.socials a i {
  font-size: 2rem;
  letter-spacing: 120px;
  transition: color .4s ease;

}

.socials a:hover i {
  color: #ffffff;
}

.footer-bottom {
  background: #3a3737;
  width: 100vw;

  text-align: center;
}



.psec {
  font-size: 27px;
  font-weight: 700;
  line-height: 1;
  font-style: normal;
  font-family: Rubik, sans-serif;
  color: #121213;


}

.sp1 {
  color: #1da1f2;
}

.sp3 {
  color: #c47ee8;
}

.sp4 {
  color: #dd560b;
}

.sp5 {
  color: #1defb8;
}

.sp6 {
  color: #ffa10b;
}

.pend {

  font-size: 17px;
  color: #606060;
  font-weight: 400;
  line-height: 1.3;
  font-family: cursive;
  margin-top: 60px;
  margin-left: 480px
}

.copyright {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #FFFFFF;
}



.button {
  display: inline-block;

  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #302f2f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}


.button:hover {
  background-color: white;
  color: #000;
}

.socials1 {
  margin-top: -50px;
}

.socials {
  margin-top: 70px;
}

.pbtn {
  margin-top: 15px;
  margin-left: 5%;

}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.footer-content {

  margin-left: -730px;
}

.papa {
  width: 540px;
}

.bottomf {
  margin: 30px 20px;
  text-align: center;
  justify-content: space-between;
}

.productspecification {
  text-align: center;
  margin: 20px;
  padding: 10px 10px;

}

.otherdetails {
  text-align: center;
  margin: 20px;
  padding: 10px 10px;
}

a:link,
a:visited {

  color: white;
}